@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #1152d4;
  --color-background-dark: #101622;
  --color-background-light: #f6f6f8;
  --color-surface-dark: #1e293b;
  --color-border-dark: #334155;

  --font-display: "Manrope", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-slate-100 font-display transition-colors duration-200;
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
